
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: brandon grotesque !important;
 
}

.app {
  width: 100%;
  margin: auto;
  overflow: auto;
  
}

.body {
   max-width: 70%;
   margin: auto;
   padding-top: 30px;
}


h1 {
  margin-left: 50px;
}

.btn {  
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
} 



h2 {
  text-align: center;
  padding-top: 50px;
}

h3, p {
  text-align: center;
}


.card {
  height: 350px;
}

.form {
  width : 70%;
  margin: auto;
  margin-top: 50px;
  
}

.notepad {
   width : 70%;
  margin: auto;
  margin-top: 50px;
}



